
<h2>Eventos</h2>
<hr>
<div  class="row">
    <div class="container mb-2">
        <label class="mr-2">Filtro: </label>
        <input type="text"
        class="form-control mr-2"
        placeholder="buscar"
        [(ngModel)]="filtroLista">
       
    </div>
</div>
<div class="table-responsive">
<table class="table table-striped">
    <thead class="thead-dark">
        <tr >
          
            <th>
                <button class="btn btn-outline-light btn-sm "
                (click)="alterarImagem()">{{!mostrarImagem ? 'Exibir' : 'Ocultar'}}</button></th>
                <th>#</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let evento of eventosFiltrados">
            <td >
                <img src="/assets/{{evento.imageURL}}" 
                alt="" 
              
                *ngIf="mostrarImagem"
                [style.width.px]="widthImage"
                [style.margin.px]="marginImage"
                ></td>
            <td>{{evento.eventoId}}</td>
           
            <td>{{evento.tema}}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.dataEvento}}</td>
            <td>{{evento.qtdPessoas}}</td>
            <td>{{evento.lote}}</td>
            <td>
                <button class="btn btn-primary btn-sm mr-2" type="button">Editar</button> |
                <button class="btn btn-danger btn-sm" type="button">Excluir</button>

            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
        <tr ></tr>
        <td class="text-center" colspan="8">
            <h4>Nenhum evento encontrado!</h4>
        </td>
    </tfoot>
</table>
</div>
<!-- {{eventos | json}} -->
