
<h2>Eventos</h2>
<hr>
<div  class="row">
    <div class="container mb-2">
        <label class="mr-2">Filtro: </label>
        <input type="text"
        class="form-control mr-2"
        placeholder="buscar"
        [(ngModel)]="filtroLista">
       
    </div>
</div>
<div class="table-responsive">
<table class="table table-striped">
    <thead class="thead-dark">
        <tr >
          
            <th>
                <button class="btn btn-outline-light btn-sm "
                (click)="alterarImagem()"><i class="{{!mostrarImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
                {{!mostrarImagem ? 'Mostrar' : 'ocultar'}}
            </button></th>
                <th>#</th>
            <th>Tema</th>
            <th>Local</th>
            <th>Data</th>
            <th>Qtd Pessoas</th>
            <th>Lote</th>
            <th>Opções</th>
        </tr>
    </thead>
    <tbody *ngIf="eventos && eventos.length">
        <tr *ngFor="let evento of eventosFiltrados">
            <td >
                <img src="/assets/{{evento.imageURL}}" 
                alt="" 
              
                *ngIf="mostrarImagem"
                [style.width.px]="widthImage"
                [style.margin.px]="marginImage"
                ></td>
            <td>{{evento.id}}</td>
           
            <td>{{evento.tema}}</td>
            <td>{{evento.local}}</td>
            <td>{{evento.dataEvento | DateTimeFormatPipe}}</td>
            <td>{{evento.qtdPessoas}}</td>
            <td>{{evento.lotes[0].nome}}</td>
            <td id="td-buttons">
                <button class="btn btn-primary btn-sm mr-2"
               data-bs-toggle="tooltip" title="Editar"
                 type="button" >
                    <i class="fa fa-edit"></i>
                    
                    </button> 
                <button class="btn btn-danger btn-sm" type="button" 
                data-bs-toggle="tooltip" title="Excluir" 
                (click)="openModal(template)">
                    <i class="fa fa-trash"></i>
                    </button>

            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="!eventos.length">
        <tr ></tr>
        <td class="text-center" colspan="8">
            <h4>Nenhum evento encontrado!</h4>
        </td>
    </tfoot>
</table>
</div>

<!-- {{eventos | json}} -->
<ng-template #template>
    <div class="modal-body text-center">
      <p>Tem certeza que deseja deletar esse evento ?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >Não</button>
    </div>
  </ng-template>